* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Mountains of Christmas", Arial, Helvetica, sans-serif;
}

img {
  width: 100%;
}

.container {
  height: 100vh;
  background-image: url(background.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container--jokes {
  margin-bottom: 15%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15%;
  height: 50%;
  width: 40%;

  border-radius: 24px;
}

.setup {
  color: #d20018;
  text-align: center;
  padding: 0 3%;
  font-size: 32px;
  font-weight: 700;
}

.delivery {
  color: #646e24;
  text-align: center;
  font-size: 32px;
  font-weight: 400;
}

.btn {
  font-family: "Mountains of Christmas";
  border: none;
  border-radius: 12px;
  font-size: 18px;
  letter-spacing: 2px;
  font-weight: 700;
  padding: 2% 3%;
  background-color: #7e0f12;
  color: #fdb54e;
  box-shadow: 0 5px #e01c34;
}

.btn:active {
  margin-bottom: -30px;
  box-shadow: none;
}

.container--btn {
  position: fixed;
  bottom: 35%;
}
